/*
This CSS file reskins a Slack instance with colors from
MetaFilter (www.metafilter.com).

Requires the Stylish extension.

Created by Hillary Jeffrey, September 2015
*/

/****************************************/
/* Main Message Area                    */
/****************************************/
/* Body text */
#footer,
body {
    background: #065A8F;
    color: #FFF;
}

/* ~~~~~~~~~~~ COLOR ONLY ~~~~~~~~~~~~ */

h3,
#active_channel_name .prefix .ts_icon_channel, /* Active channel icon */
#emoji_menu #emoji_preview_text,
/* DM hi message*/
#msgs_scroller_div #end_display_div #end_display_meta h1,
.highlighter_underlay .ghost_text,
input#search_terms.search_input {
    color: #FFF;
}


h2,
#file_list_toggle_users.active,
.menu_meta,
#omnibox #omnibox_help,
.dm_list_real_name,
.modal label,
.btn_outline,
.presence,
.flexpane_file_title .member,
.flexpane_file_title .service_link,
.comment_body,
.tab_complete_ui ul.type_emoji li,
body:not(.feature_new_message_markup) .message .msg_actions,
.light_theme .message {
    color: #CCC !important;
}

h4,
.light_theme #message_edit_form p,
.light_theme #message_edit_form span {
    color: #000;
}

/* Text colors */
.tab_container .file_list_item .contents .member,
.tab_container .file_list_item .contents .service_link,
.tab_container .file_list_item .contents .share_info,
.tab_container .file_list_item .contents .time,
a#cancel_edit, /* Override link colors for lighter bg color */
a#commit_edit, /* Override link colors for lighter bg color */
.input_note {
    color: #03436D;
}

#details_tab .channel_page_member_row a {
    color: #15BFFF;
    font-weight: bold;
}

#details_tab .channel_page_section .section_header a,
#msgs_scroller_div #end_display_div p {
    color: #15BFFF;
}

.comment .member,
.indifferent_grey {
    color: #15BFFF !important;
}

/*#addemoji a,
a.break_word.bold,
#page_contents > section > p > a,
#addemoji a:hover,
a.break_word.bold:hover,
#page_contents > section > p > a:hover {
    color: #89B95B;
}*/

a,
a:link,
a:visited, /*Sitewide link colors*/
#file_list_toggle_users.active:hover,
.inline_attachment span.attachment_author_name,
#active_channel_name .name, /* Active channel name */
h1 a,
h1 a:active,
h1 a:hover,
h1 a:link,
h1 a:visited, /* Group name and purpose links */
body:not(.feature_new_message_markup) .message:hover .msg_actions:hover,
space header .owner_detail .file_title_header,
space header .owner_detail .inline-edit,
.tab_container .file_list_item .contents .file_comment_link,
.tab_container .file_list_item .contents .file_comment_link .ts_icon,
.pinned_item .pin_member_name a,
.flexpane_toggle_button,
header #menu_toggle,
header .header_btns a,
.member_preview_link,
.group_link,
.dm_list_username,
.presence.active,
#welcome_user,
#typing_text {
    color: #56B68B !important;
}

.menu_member_user_details .member_name,
.light_theme .message .member,
.light_theme .message_sender,
#header_search_form.search_form .icon_search,
/* Selected channel */
.channels_list_holder ul li.channel.active a.channel_name .prefix,
.channels_list_holder ul li.group.active a.group_name .prefix {
    color: #439FE0 !important;
    opacity: 1;
    font-weight: bold;
}


#emoji_menu #emoji_preview_deluxe,
#loading_indicator {
    color: #439FE0;
    text-shadow: 0 1px #000;
}

.pinned_item,
.file_container.post_container {
    color: #A3B4BF;
}

.mention_rxn .mention_rxn_summary .member_preview_link,
.mention_rxn .mention_rxn_summary .mention_rxn_summary_members,
.plastic_row h3,
#msg_1443828612_000397 > div.file_container.post_container.inline_collapsed > div.file_header.post_header > h4,
rocket {
    color: #BEE6FF;
}

a:hover,
a:active,
a:focus,
.light_theme .message.archived .message_content,
.light_theme .message.bot_change .message_content,
.light_theme .message.joined .message_content,
.light_theme .message.left .message_content,
.light_theme .message.purpose .message_content,
.light_theme .message.rename .message_content,
.light_theme .message.sh_created .message_content .sh_auto_msg_text,
.light_theme .message.sh_shared .message_content .sh_auto_msg_text,
.light_theme .message.topic .message_content,
.light_theme .message.unarchived .message_content {
    color: #56B68B;
}

body:not(.feature_new_message_markup) .msgs_holder .unread_divider.no_unreads hr,
div#msgs_unread_divider.unread_divider.no_unreads body:not(.feature_new_message_markup) .msgs_holder .unread_divider.no_unreads,
body:not(.feature_new_message_markup) .msgs_holder .unread_divider {
    color: #439FE0 !important;
    /*color: #e3efcf !important;*/
}

.emoji_rxn.active .emoji_rxn_count,
.emoji_rxn:hover .emoji_rxn_count,
.emoji_rxn .emoji_rxn_count {
    color: #e6e6e6;
}

/* Stars */
#active_channel_name .star.starred {
    color: #FC0;
    opacity: 1;
}

#active_channel_name:hover .star.starred {
    color: #FFF1BA;
    opacity: 1;
}

#loading_welcome_author {
    color: #15BFFF;
    opacity: 0;
    text-shadow: 0 1px #000;
}
#loading_welcome_msg {
    color: #EEE;
    opacity: 1;
    text-shadow: 0 1px #000;
}



/* ~~~~~~~~ Backgrounds ~~~~~~~~~~ */



/* Header Area with channel title etc*/
#header,
nav,
.menu_footer,
.monkey_scroll_bar,
#client-ui .monkey_scroll_bar,
.channels_list_holder ul li a:hover,
#monkey_scroll_wrapper_for_channels_scroller .monkey_scroll_bar,
#monkey_scroll_wrapper_for_menu_items_scroller,
a.plastic_row:hover,
#emoji_menu,
#emoji_menu_footer,
#emoji_menu.all_emoji #emoji_menu_header {
    background: #03436D !important;
}

/* Left pane channel list */
#col_channels_bg,
#col_channels,
#col_flex,
#col_channels_bg,
#loading_team_menu_bg,
#loading_user_menu_bg,
a.plastic_row,
#details_tab .channel_page_section {
    background: #045286;
}
.card {
    background: #045286;
    border: none;
}

#emoji_menu.all_emoji a.emoji_grouping_tab:hover,
.btn {
    background: #065A8F;
}
.modal#generic_dialog,
/* New Messages indicator with a surprising number of components */
body:not(.feature_new_message_markup) .msgs_holder .unread_divider span.divider_label,
body:not(.feature_new_message_markup) .day_divider,
.loading #loading-zone,
space header {
    background: #065A8F !important;
}

/* Toasting / Notifications */
#rxn_toast_div {
    background: #15BFFF;
}

/* Message editing */
body:not(.feature_new_message_markup) .message.highlight {
    background: transparent;
}

div.msg_highlighter {
    background: #439FE0 !important;
}

.file_container,
#client-ui .tab_container .file_list_item,
.tab_container .file_list_item .actions .btn_icon,
#client-ui .tab_container .feature_channel_details .file_list_item,
#client-ui .tab_container .star_item .file_list_item {
    background: #EEE !important;
}

/* Reconnecting */
#connection_div,
#message_edit_form.offline #message-input,
#message_edit_form.offline #primary_file_button,
#messages-input-container.offline #message-input,
#messages-input-container.offline #primary_file_button,
.inline_message_input_container.offline #message-input,
.inline_message_input_container.offline #primary_file_button {
    background: #FDF1C1 !important;
}

.uneditable-input,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=tel],
input[type=color],
input[type=search],
textarea,
.light_theme #message_edit_form textarea {
    color: #FFF;
    background: transparent !important;
}


/* ~~~~~~~~ Color & Backgrounds ~~~~~~~~~~ */

#quick_switcher_btn:hover,
#emoji_preview_text,
#emoji_h3_default_rxns,
/* Channel select box */
.tab_complete_ui .tab_complete_ui_header {
    background: #03436D !important;
    border-color: #03436D;
    color: #439FE0;
}

#menu.flex_menu,
#menu .section_header .header_label, .menu_example .section_header .header_label {
    background: #03436D !important;
    color: #0E99D3;
    font-weight: bold;
}

/* Channel members icon */
header,
#channel_members_toggle .channel_members_toggle_icon,
#channel_members_toggle {
    background: #03436D;
    color: #439FE0;
}

/* Text entry left "+" button - normal, hover, and focus */
#primary_file_button {
    background: #03436D;
    border: 2px solid #03436D;
    color: #FFF !important;
}

.menu_member_user_details,
#menu_header .menu_simple_header,
#dms_filter,
#dms_filter_show_all,
#file_member_filter,
.modal-header,
.modal-footer,
/* Selected channel icon*/
#col_channels ul li.channel.active a.channel_name,
#col_channels ul li.group.active a.group_name,
#col_channels ul li.member.active a.im_name,
#col_channels ul li.mpim.active a.mpim_name {
    background: #03436D;
    color: #CCC !important;
    opacity: 1;
    font-weight: bold;
}


/* Mentions & Reactions & dropdowns */
.modal,
#flex_contents .toolbar,
#flex_contents .heading {
    background: #045286;
    color: #439FE0;
}
.tab_complete_ui {
    background: #045286;
    border: 1px solid #03436D;
    color: #8AAEC6;
}
#mentions_options {
    background: #045286;
    border-top: 1px solid #045286;
    color: #BEE6FF;
}

#team_menu,
#quick_switcher_btn,
#team_menu_overlay,
#col_channels_overlay {
    background: #045286;
    color: #FFF;
    border-bottom: 3px solid #045286;
}

/*#menu ul li,*/
#menu ul li a {
    background: #03436D !important;
    border: none;
}

#emoji_menu h3,
.light_theme .msgs_holder .day_divider {
    background: #065A8F;
    color: #CCC;
    font-weight: bold;
}
body:not(.feature_new_message_markup) .day_divider_label {
    background: #065A8F;
    color: #FFF;
    font-weight: bold;
}

/* Unread messages */
#messages_unread_status.quiet {
    background: #1185B1;
    color: #FFF;
}
/* In-line emoji reactions */
.emoji_rxn {
    background: #1185B1;
    border: 1px solid #88C2D8;
}

#primary_file_button.active,
#primary_file_button:hover {
    background: #15BFFF;
    border-color: #15BFFF;
    color: #FFF !important;
}

a.btn_outline:hover,
button.btn:hover,
a.btn:hover {
    background: #15BFFF;
    color: #FFF !important;
}

/* Scroll bar handles */
.monkey_scroll_handle_inner,
#client-ui .monkey_scroll_handle_inner,
#monkey_scroll_wrapper_for_channels_scroller .monkey_scroll_handle_inner {
    background: #15BFFF !important;
    opacity: 0.7;
    border: 3px solid #065a8f;
}

#menu ul li a:hover {
    background: #439FE0 !important;
    border: none;
    color: #FFF !important;
}

/* Mentions */
body:not(.feature_new_message_markup) .message .mention {
    background: #4D8D70;
    color: #FFF;
}

.flexpane_toggle_button#details_toggle.active,
.flexpane_toggle_button#details_toggle.active:hover,
.flexpane_toggle_button#flex_menu_toggle.active,
.flexpane_toggle_button#flex_menu_toggle.active:hover,
.flexpane_toggle_button#recent_mentions_toggle.active,
.flexpane_toggle_button#recent_mentions_toggle.active:hover,
.flexpane_toggle_button#stars_toggle.active,
.flexpane_toggle_button#stars_toggle.active:hover {
    background: #56B68B;
    color: #FFF !important;
}

/* Current user reacted reactions */
.emoji_rxn.user_reacted .emoji_rxn_count,
.emoji_rxn.user_reacted {
    background: #56B68B;
    border-color: #56B68B !important;
    color: #FFF;
}

/* Search area in title bar*/
.search_form .search_input {
    background: #EEE;
    border: 1px solid #1185B1;
}

/* Text Entry - normal */
#message_edit_form #message-input,
#messages-input-container #message-input,
.inline_message_input_container #message-input {
    background: #065A8F !important;
    border: 2px solid #03436D;
    border-left: none;
    color: #CCC;
}

/* Tab titles & contents */
.tab_set a.secondary.selected,
.tab_set a.selected,
.tab_pane {
    background: #BEE6FF;
    border: 1px solid #4197D3;
    border-top-color: #BEE6FF;
    color: #4E5459;
}

/* Code snippets */
code {
    background: #D5E2EB;
    border: 1px solid #8FB1C9;
    color: #619D6B;
}

/* ~~~~~~~ Borders Only ~~~~~~~ */

/* Text Entry - on focus */
#flex_contents .help,
#message_edit_form #message-input:focus,
#messages-input-container #message-input:focus,
.inline_message_input_container #message-input:focus,
#message_edit_form.focus #primary_file_button:not(:hover),
#messages-input-container.focus #primary_file_button:not(:hover),
.inline_message_input_container.focus #primary_file_button:not(:hover) {
    border-color: #03436D;
}

.emoji_rxn.active,
.emoji_rxn:hover {
    border-color: #439FE0;
}

body:not(.feature_new_message_markup) .msgs_holder .unread_divider.no_unreads hr,
body:not(.feature_new_message_markup) .msgs_holder .unread_divider.no_unreads hr,
body:not(.feature_new_message_markup) .msgs_holder .unread_divider hr {
    border-top: 1px solid #439FE0 !important;
    /*border-top: 1px solid #E3EFCF !important;*/
}

#flex_contents .flexpane_tab_bar li.active {
    border-color: #439FE0;
}

table tr {
    border-bottom: 1px solid #065A8F;
}

hr {
    border-top: 1px solid #065A8F;
}

#quick_switcher_btn,
#team_menu,
#team_menu_overlay,
#col_channels_overlay {
    border-color: #03436D;
}

/* ~~~~~~~ Gradients ~~~~~~~ */
.pinned_item .pinned_message_text .pin_truncate_fade,
.file_container.post_container:after {
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#EEE),color-stop(1,rgba(238,238,238,0)));
    background: -moz-linear-gradient(center bottom,#EEE 0,rgba(238,238,238,0) 100%);
    background: -ms-linear-gradient(bottom,#EEE,rgba(238,238,238,0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(238, 238, 238, 0)', endColorstr='#EEE', GradientType=0);
}

/* ~~~~~~~ Opacity ~~~~~~~ */

/* Member pictures - was doing some funky resizing/wiggling when hovered over so I just set opacity at 100% all the time and it fixed it */
.light_theme .message .member_image {
    opacity: 1;
}

#client-ui #header_search_form.search_form .icon_close {
    opacity: 0.7;
}

.tab_complete_ui .tab_complete_ui_header {
    text-shadow: none;
}

/****************************************/
/* In Progress                          */
/****************************************/

/* Attempting to find where it flashes the dialog to a red color */
.mini.been_seen,
.mini,
.been_seen {
    color: #DDD !important;
}

/* Over storage limit box */
#over_storage_limit_div,
#over_integrations_limit_div {
    background: #EEE;
    color: #777;
    border: 2px solid #1185B1;
}

#over_storage_limit_div a,
#over_integrations_limit_div a {
    background: #F4E8D6;
    color: #FFF;
}

/* Set custom emoji background white so transparent ones are visible */
/*span.emoji {
    background-color: #fff;
}*/

#details_tab .channel_page_member_row.away a {
    color: #9e9ea6 !important;
}

/* Emoji selector */
#emoji_menu #monkey_scroll_wrapper_for_emoji_menu_items_scroller {
    background: #065A8F;
}


#emoji_menu.all_emoji a.emoji_grouping_tab.active {
    background: #0E99D3;
    border-color: #439FE0;
}

#new_prefs_dialog .modal-nav {
    background: #03436D;
    border-color: #15BFFF;
}

#new_prefs_dialog .modal-nav a {
    text-shadow: 0 1px 0 #03436D;
    color: #555459;
}

rocket .cl.text, rocket>div>.checklist,
.pinned_item, .file_container.post_container,
.post_body ul.checklist {
    color: #000;
    background-color: #EEE;
    opacity: 0.7;
}

/* ===[ Filters ]=== */

.snippet_preview,
.special_formatting,
.CodeMirror,
code,
.icon_loading,
pre,
.backup_codes_wrapper,
nav.top.persistent .logo {
    filter: invert(100%);
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
}

/* BIG EMOJI */
.message span.emoji-sizer {
    font-size: 23px
}
